@page
@model LMS.Pages.Sections.SectionCreateModel

@{
    ViewData["Title"] = "SectionCreate";
}

<h1>SectionCreate</h1>

<h4>Section</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Section.Title" class="control-label"></label>
                <input asp-for="Section.Title" class="form-control" />
                <span asp-validation-for="Section.Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Section.CourseId" value="@ViewBag.CourseId"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to course</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
