@page
@model LMS.Pages.Activities.CreateActivityModel

@{
    ViewData["Title"] = "CreateActivity";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>Create Activity</h1>
<hr />
<div class="text-danger fs-2">@Model.Error</div>
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity.Name" class="control-label"></label>
                <input asp-for="Activity.Name" class="form-control" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Details" class="control-label"></label>
                <textarea asp-for="Activity.Details" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Activity.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.StartTime" class="control-label"></label>
                <input disabled asp-for="Activity.StartTime" class="form-control date" id="startTime"/>
                <span asp-validation-for="Activity.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.EndTime" class="control-label"></label>
                <input disabled asp-for="Activity.EndTime" class="form-control date" id="endTime" />
                <span asp-validation-for="Activity.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Activity.ActivityType" class="form-control" />
                <select asp-for="Activity.ActivityType" asp-items="Html.GetEnumSelectList<ActivityType>()" id="selectActivity"></select>
            </div>
            <div class="form-group" id="pointsField">
                <label asp-for="Activity.Points" class="control-label"></label>
                <input disabled type="number" min="0" asp-for="Activity.Points" class="form-control" id="textPoints" />
                <span asp-validation-for="Activity.Points" class="text-danger"></span>
                <span style="font-size: 10px">If quiz selected, the number of points is equal to number of questions in quiz</span>
            </div>
            <div class="form-group upload-file mt-1 mb-1">
                <label class="control-label">Optional files</label>
                <input type="file" asp-for="Files" multiple id="files"/>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to course</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
  <script>
      $(document).ready(function () {
          $('#selectActivity').val('0');
          $('#selectActivity').val('0').change();
          $('.date').val('');
          $('#textPoints').val('');
      });
          $("#selectActivity").change(function() {
                if($("#selectActivity").val() == "0") {
                    $(".date").prop("disabled", true);
                    $('.date').val('');
                    $("#textPoints").prop("disabled", true);
                    $('#textPoints').val('');
                    $("#files").prop("disabled", false);
                } 
                if($("#selectActivity").val() == "1") {
                     $(".date").prop("disabled", false);
                    $('#textPoints').prop("disabled", false);
                     $("#files").prop("disabled", false);

                }
                if($("#selectActivity").val() == "2") {
                    $("#textPoints").prop("disabled", true);
                    $('#textPoints').val('');
                    $(".date").prop("disabled", false);
                    $("#files").prop("disabled", true);
                    $("#files").val('');
                    
                }           
            });
                 
        $(".date").change(function() {
            var startTime = new Date(('#startTime').val);
            var endTime = new Date(('#endTime').val);
            if(startTime > endTime)
            {
                alert("Please select different end date");
                console.log("siema");
            }
        });
    </script>