#map {
    height: 100%;
    min-height: 100vh;
}

.second-row.scrollable {
    max-height: 85vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.second-row.scrollable::-webkit-scrollbar {
    display: none;
}

.second-row.scrollable.course-section-table tr:nth-child(odd) {
    border-top: 2em solid transparent;
}
.second-row.course-section-table tr:first-child
{
    border-top:none!important;
}

.course-section-table tr:nth-child(even) {
    border-radius: 20%;
}

.course-section {
    margin: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 19px 8px 47px -11px rgba(207, 207, 208, 1);
    -moz-box-shadow: 19px 8px 47px -11px rgba(207, 207, 208, 1);
    box-shadow: 19px 8px 47px -11px rgba(207, 207, 208, 1);
}

.section-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 15px;
}
.section-list .activity-item:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.student-image {
    background-image: url("../images/computer.jpg");
    background-size: cover;
    background-position: center;
}

.card-style {
    background-color: aliceblue;
    border-radius: 5%;
}

.card-style a img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: solid 1px black;
}

.card-body.course {
    font-weight: bold;
}
    .card-body.course p {
        font-weight: normal;
        
    }
