@page
@model LMS.Pages.Courses.DetailsCourseModel

@{
    ViewData["Title"] = "DetailsCourse";
    var authorfullName = Model.Course.Author?.FirstName + Model.Course.Author?.LastName;
    if (string.IsNullOrEmpty(authorfullName)) 
        authorfullName = "nieznany";
}


<div class="container-fluid">
    <div class="row border-2 border-bottom">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
                <h1 class="mt-2">@Html.DisplayFor(model => model.Course.Name)</h1>
                <h4>@authorfullName</h4>
            </div>
                <div class="d-flex flex-row align-items-center">              
                <div> 
                    <a class="btn btn-secondary me-2" asp-page="./CourseEditMode" asp-route-id="@Model.Course.Id" style="background-color: rgba(0,0,0,.45)">Edit mode</a>
                </div>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                      style="background: rgba(0,0,0,.55)">
                        Settings
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Users</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                </div>
        </div>
        <div>
           
        </div>
    </div>

</div>

